blockquote {
  border-left: 5px solid grey;
  padding-left: 10px;
}

section.footnotes > hr {
  /*
  Pushes the footnotes down so they do not clash
  with the "Footnotes" title, defined below
  */
  margin-bottom: 40px;
}

section.footnotes > *:first-child::before {
  content: 'Footnotes';
  font-family: 'Georgia', serif;
  margin: 10px 0;
  color: #444;
  font-size: 25px;
}

div.tracking-notification.div {
  color: darkgrey;
}

/*
  Color only code that exists in prose, not block-code
  https://stackoverflow.com/a/14900779/1040915
*/
:not(pre) > code {
  font-family: Courier,monospace;
  background-color: lightgray;
}

figcaption {
  text-align: center;
  font-size: 1rem;
  margin-top: 0.25rem;
}

/* https://dev.to/dcodeyt/creating-beautiful-html-tables-with-css-428l */
.styled-table {
  border-collapse: collapse;
  margin: 25px 0;
  font-size: 0.9em;
  font-family: sans-serif;
  min-width: 400px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

.styled-table thead tr {
  background-color: #009879;
  color: #ffffff;
  text-align: left;
}

.styled-table th,
.styled-table td {
    padding: 12px 15px;
}

.styled-table tbody tr {
    border-bottom: 1px solid #dddddd;
    background-color: #d3d3d3;
}

.styled-table tbody tr:nth-of-type(even) {
    background-color: #f3f3f3;
}

.styled-table tbody tr:last-of-type {
    border-bottom: 2px solid #009879;
}

