blockquote {
  border-left: 5px solid grey;
  padding-left: 10px;
}

section.footnotes > hr {
  /*
  Pushes the footnotes down so they do not clash
  with the "Footnotes" title, defined below
  */
  margin-bottom: 40px;
}

section.footnotes > *:first-child::before {
  content: 'Footnotes';
  font-family: 'Georgia', serif;
  margin: 10px 0;
  color: #444;
  font-size: 25px;
}

div.tracking-notification.div {
  color: darkgrey;
}
